{{define "partials/stats-card-jobs"}}
<div class="bg-slate-800 rounded-lg shadow-lg p-3 md:p-5">
  <div class="flex flex-col md:flex-row md:items-center">
    <div class="flex items-center justify-center md:justify-start mb-2 md:mb-0">
      <div class="p-1 md:p-3 rounded-full bg-blue-500 bg-opacity-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 md:h-8 md:w-8 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
        </svg>
      </div>
      <p class="text-gray-400 text-xs md:text-sm ml-2 md:ml-3">Jobs</p>
    </div>
    <div class="text-center md:text-left md:ml-4">
      <p class="text-xl md:text-3xl font-semibold text-white">{{.totalJobs}}</p>
    </div>
  </div>
</div>
{{end}}

{{define "partials/stats-card-applied"}}
<div class="bg-slate-800 rounded-lg shadow-lg p-3 md:p-5">
  <div class="flex flex-col md:flex-row md:items-center">
    <div class="flex items-center justify-center md:justify-start mb-2 md:mb-0">
      <div class="p-1 md:p-3 rounded-full bg-green-500 bg-opacity-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 md:h-8 md:w-8 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <p class="text-gray-400 text-xs md:text-sm ml-2 md:ml-3">Applied</p>
    </div>
    <div class="text-center md:text-left md:ml-4">
      <p class="text-xl md:text-3xl font-semibold text-white">{{.applied}}</p>
    </div>
  </div>
</div>
{{end}}

{{define "partials/stats-card-match"}}
<div class="bg-slate-800 rounded-lg shadow-lg p-3 md:p-5">
  <div class="flex flex-col md:flex-row md:items-center">
    <div class="flex items-center justify-center md:justify-start mb-2 md:mb-0">
      <div class="p-1 md:p-3 rounded-full bg-yellow-500 bg-opacity-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 md:h-8 md:w-8 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
        </svg>
      </div>
      <p class="text-gray-400 text-xs md:text-sm ml-2 md:ml-3">Match</p>
    </div>
    <div class="text-center md:text-left md:ml-4">
      <p class="text-xl md:text-3xl font-semibold text-white">{{.highMatch}}</p>
    </div>
  </div>
</div>
{{end}}